{% extends "app_site/partials/base.html" %}
{% load static %}

{% block title %}Cadastrar Equipamentos{% endblock title %}

{% block content %}
<div class="container-fluid" >
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Cadastro de Equipamentos</h4>
            <a href="{% url 'listar_equipamentos' %}" class="btn btn-light btn-sm">Ver Lista</a>
        </div>

        <div class="card-body">
            <form method="POST" action="{% url 'cadastrar_equipamento' %}">
                {% csrf_token %}
                
                <!-- Nome do Equipamento -->
                <div class="mb-3">
                    <label for="nome_equipamento" class="form-label">Nome do equipamento</label>
                    <input type="text" id="nome_equipamento" name="nome_equipamento" class="form-control" required>
                </div>

                <!-- Fabricante -->
                <div class="mb-3">
                    <label for="fabricante" class="form-label">Nome do fabricante</label>
                    <input type="text" id="fabricante" name="fabricante" class="form-control" required>
                </div>

                <!-- Data de validade -->
                <div class="mb-3">
                    <label for="data_validade" class="form-label">Data de validade</label>
                    <input type="date" id="data_validade" name="data_validade" class="form-control" required>
                </div>

                <!-- Estoque -->
                <div class="mb-3">
                    <label for="estoque" class="form-label">Quantidade no estoque</label>
                    <input type="text" id="estoque" name="estoque" class="form-control" required>
                </div>

                <!-- Botões -->
                <div class="text-end">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
