{% extends "app_site/partials/base.html" %}
{% load static %}

{% block title %}Lista de Setores{% endblock title %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Lista de Setores</h4>
        <a href="{% url 'colaboradores:cadastrar_setor' %}" 
            class="btn btn-cadastro shadow-sm">
            + Cadastrar
        </a>
    </div>

    <div class="card-body">
        <!-- Barra de pesquisa -->
        <div class="mb-3" style="max-width: 1000px;">
            <form>
                <div class="d-flex gap-20">
                    <input type="text" class="form-control" placeholder="Pesquisar setor..." name="nome_setor" value="{{ pesquisa }}">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
                {% if pesquisa %}
                        <a href="{% url 'colaboradores:listar_setor' %}">Limpar Pesquisa</a>
                {% endif %}
            </form>
        </div>

    
        {% if setor %}
            <div class="table-responsive">
                <table class="table table-striped align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>nome do Setor</th>
                            <th>epis necessarios</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in setor %}
                            <tr>
                                <td>{{ c.nome_setor }}</td>
                                <td>{{ c.epis_necessario }}</td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <a href="{% url 'colaboradores:editar_setor' c.id_setor %}" 
                                        class="btn btn-warning btn-sm">
                                        Editar
                                        </a>

                                        <!-- Botão que abre o modal -->
                                        <button class="btn btn-danger btn-sm" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#modalRemover{{ c.id_setor }}">
                                            Remover
                                        </button>

                                        <!-- Modal de confirmação -->
                                        <div class="modal fade" id="modalRemover{{ c.id_setor }}" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">

                                                    <div class="modal-header bg-danger text-white">
                                                        <h5 class="modal-title">Excluir Setor</h5>
                                                    </div>

                                                    <div class="modal-body">
                                                        Tem certeza que deseja remover o setor 
                                                        <strong>{{ c.nome_setor }}</strong>?
                                                    </div>

                                                    <div class="modal-footer">
                                                        <a href="{% url 'colaboradores:remover_setor' c.id_setor %}" 
                                                        class="btn btn-danger">
                                                            Remover
                                                        </a>
                                                        
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            Cancelar
                                                        </button>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center text-muted">Nenhum setor cadastrado.</p>
        {% endif %}
    
    </div>

</div>
{% endblock content %}
