{% extends "app_site/partials/base.html" %}
{% load static %}

{% block title %}Lista de Equipamentos{% endblock title %}

{% block content %}
<div class="container-fluid" >  <!-- ajusta por causa da sidebar -->
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Lista de Equipamentos</h4>
        </div>

        <div class="card-body">
            {% if equipamentos %}
                <div class="table-responsive">
                    <table class="table table-striped align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>Nome do equipamento</th>
                                <th>Fabricante</th>
                                <th>Data de Validade</th>
                                <th>Quantidade em estoque</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in equipamentos %}
                                <tr>
                                    <td>{{ c.nome_equipamento }}</td>
                                    <td>{{ c.fabricante }}</td>
                                    <td>{{ c.data_validade }}</td>
                                    <td>{{ c.estoque }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-center text-muted">Nenhum equipamento cadastrado.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
