{% extends "app_site/partials/base.html" %}

{% load static %}

{% block content %}
<main class="content-center">
        <form class="form-emprestimos">
            <select required>
                <option value="">CPF</option>
                <option>123.456.789-00</option>
                <option>987.654.321-00</option>
            </select>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Cod. EPI</th>
                            <th>Nome</th>
                            <th>Tamanho</th>
                            <th>Quantidade</th>
                            <th>Data Ret.</th>
                            <th>Data Dev.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Linhas simuladas -->
                        <tr><td colspan="7" style="text-align:center;">Sem dados disponíveis</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="button-group">
                <button type="submit" class="btn-dark">Consultar</button>
                <button type="button" class="btn-dark">Cadastrar</button>
            </div>
        </form>
    </main>
{% endblock content %}