{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'success' %}alert-success
                {% elif message.tags == 'error' %}alert-danger
                {% elif message.tags == 'warning' %}alert-warning
                {% else %}alert-info{% endif %}
                alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">Gerenc. EPI's</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="{% url 'menu' %}">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Menu</span>
                </a>
                <span class="tooltip">Menu</span>
            </li>
            <li>
                <a href="{% url 'cadastrar_colaborador' %}">
                    <i class='bx bx-user' ></i>
                    <span class="links_name">Cadast. Colaborador</span>
                </a>
                <span class="tooltip">Cadastrar Colaborador</span>
            </li>
            <li>
                <a href="{% url 'cadastrar_equipamento' %}">
                    <i class='bx bx-chat' ></i>
                    <span class="links_name">Cadast. Equipamento</span>
                </a>
                <span class="tooltip">Cadastrar Equipamento</span>
            </li>
            <li>
                <a href="{% url 'listar_colaborador' %}">
                    <i class='bx bx-folder' ></i>
                    <span class="links_name">Lista de Colaboradores</span>
                </a>
                <span class="tooltip">Lista de Colaboradores</span>
            </li>
            <li>
                <a href="{% url 'visualizar_emprestimos' %}">
                    <i class='bx bx-folder' ></i>
                    <span class="links_name">Lista de Emprestimos</span>
                </a>
                <span class="tooltip">Lista de Emprestimos</span>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-cog' ></i>
                    <span class="links_name">Perfil</span>
                </a>
                <span class="tooltip">Perfil</span>
            </li>
        </ul>
    </div>

    <div class="main-content">
        {% block content %}{% endblock content %}
    </div>

    <footer>
        <div class="container">
            <p>© 2025 Minha Empresa. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>